body {
    font-family: sans-serif;
    vertical-align: top;
}

#myId {
    color: gold;
}

.fontLarge{
    font-size: 14px;
}

p.center {
    text-align: center;
    color: red;
}

h1, h2, p {
    text-align: right;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;

}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: red;
    color: white;
}

tr:hover {background-color: #ddd;}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid black;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}

* {
    font-family: courier;
}

.select {
    background-color: red;
    color: white;
}